.ivv-header {
    width: 100%;
    height: 65px;
    padding: 0 20px;
    background-color: #F8F8F8 !important;
    border-bottom: 1px solid #eee;
}
.ivv-header .header {
    display: flex;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    justify-content: space-between;
}
.ivv-header .ivv-logo {
    display: flex;
    height: 60px;
    align-items: center;
}
.ivv-header .ivv-logo .logo {
    width: 40px;
    height: 40px;
}
.ivv-header .ivv-logo  .logo-letter {
    color: #2F4056;
    font-size: 26px;
}
/* nav */
.ivv-header .ivv-nav {
    display: flex;
    width: 200px;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}
.ivv-header .ivv-nav .active {
    color: #20a0ff;
}
