.plus {
    width: 100%;
    height: 100%;
    overflow: hidden auto;
    ul {
        padding: 15px;
        li {
            display: flex;
            width: 500px;
            margin-bottom: 10px;
            align-items: center;
            .plus-name {
                display: flex;
                width: 150px;
                padding-right: 15px;
                justify-content: flex-end;
            }
            .plus-input {
                width: 300px;
                padding-left: 15px;
            }
        }
        li:last-child {
            justify-content: flex-end;
        }
    }
}