.account {
  width: 100%;
  height: 100%;
  padding: 20px;
}
.el-icon-check{
  color: #2F7DCD;
}
.el-icon-close{
  color: #EC8B89;
}

.add-btn{
  margin-bottom: 10px !important;
  text-align: right;
}