.content{
    width: 100%;
    height: 100%;
    background: #f1f1f1;
    padding:0 5%;
}
.ivv-detail {
    /* background: white; */
}

.ivv-detail .ivv-detail-ul {
  display: flex;
  flex-direction: column;
}

.ivv-detail .ivv-detail-ul .ivv-detail-li {
  display: flex;
  flex-wrap: pre-wrap;
}

.ivv-detail .ivv-detail-name {
  width: 150px;
  text-align: right;
  margin-top: 15px;
  padding-right: 15px;
  color: grey;
}

.ivv-detail .ivv-detail-value {
  display: flex;
  width: 150px;
  padding-left: 15px;
  margin-top: 15px;
  /* color: #20a0ff; */
}

.title {
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 80px;
  font-size: 25px;
  border-bottom: 1px solid gainsboro;
}

.title>span {
  margin-right: 20px;
}