.ivv-loading-form {
    width: calc(100% - 260px);
    min-height: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.ivv-loading-form::-webkit-scrollbar {
    width: 12px;
    background-color: #eee;
}
.ivv-loading-form::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #111;
}
.ivv-form {
    display: flex;
    width: 100%;
    padding: 25px;
    flex-direction: column;
}
.ivv-form .ivv-table-title {
    display: flex;
    width: 800px;
    margin-top: 10px;
    justify-content: space-around;
}
.ivv-form .ivv-table-title li {
    display: flex;
    width: 100px;
    justify-content: center;
}
.ivv-form .ivv-table-title li:last-child {
    width: 200px;
}
.ivv-form .ivv-table-field {
    display: flex;
    width: 800px;
    margin-top: 10px;
    justify-content: space-around;
}
.ivv-form .ivv-table-dot {
    border: 1px dashed #000;
}
.ivv-form .ivv-table-field li {
    display: flex;
    width: 100px;
    justify-content: center;
}
.ivv-form .ivv-table-field li:last-child {
    width: 200px;
    justify-content: space-around;
}
.ivv-form .ivv-custom span{ 
    display: inline-block;
    width: 150px;
    margin-top: 40px;
}
.ivv-form .ivv-field-add {
    color: #20a0ff;
}
.ivv-form .ivv-field-add:hover {
    cursor: pointer;
}
.ivv-table-field .ivv-form-edit{
    color: #20a0ff;
}
.ivv-table-field .ivv-form-edit:hover {
    cursor: pointer;
}
.ivv-table-field .ivv-form-del{
    color: #FF5722;
}
.ivv-table-field .ivv-form-del:hover {
    cursor: pointer;
}
.ivv-table-field .ivv-form-up {
    color: #58B7FF;
}
.ivv-table-field .ivv-form-up:hover {
    cursor: pointer;
}
.ivv-table-field .ivv-form-down {
    color: #1D8CE0;
}
.ivv-table-field .ivv-form-down {
    cursor: pointer;
}
.ivv-form .ivv-save {
    display: flex;
    margin-top: 30px;
    padding-right: 30px;
    justify-content: flex-end;
}