.ivv-detail {
    display: flex;
    width: 90%;
    margin: 15px auto;
    justify-content: center;
    background-color: #F8F8F8;
    border-radius: 8px;
}
.ivv-detail .ivv-detail-ul {
    display: flex;
    flex-direction: column;
}
.ivv-detail .ivv-detail-ul .ivv-detail-li{
    display: flex;
    flex-wrap: nowrap;
}
.ivv-detail .ivv-detail-name {
    display: flex;
    width: 150px;
    margin-top: 15px;
    padding-right: 15px;
    justify-content: flex-end;
}
.ivv-detail .ivv-detail-value {
    display: flex;
    width: 150px;
    padding-left: 15px;
    margin-top: 15px;
    color: #20a0ff;
}