.ivv-field {
    display: flex;
    width: calc(100% - 300px);  
    padding: 10px 20px;
    flex-direction: column;
}
.ivv-field-table {
    display: flex;
    width: 100%;
    max-width: 800px;
    justify-content: space-around;
}
.ivv-field-table li {
    display: flex;
    width:  180px;
    height: 30px;
    justify-content: center;
    align-items: center;
}
.ivv-field-table li:last-child span {
    display: flex;
    width: 50px;
    justify-content: center;
}
.ivv-field-table li .ivv-edit {
    color: #58B7FF;
}
.ivv-field-table li span:hover {
    cursor: pointer;
}
.ivv-dom p {
    margin: 50px 0 10px;
}
.ivv-addfield {
    margin-left: 100px;
    color: #58B7FF;
}
.ivv-addfield:hover {
    cursor: pointer;
}