.header {
    display: flex;
    justify-content: center;
}
.ivv-header {
    display: flex;
    width: 95%;
    margin-top: 10px;
    padding: 0 25px;
    justify-content: space-between;
    align-items: center;
    background-color: #eef1f6;
    border-radius: 5px;
}
.ivv-header-tit {
    color: #20a0ff;
}