.ivv-vform {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .6)
}
.ivv-vform .vform {
    display: flex;
    width: 450px;
    padding-top: 30px;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
}
.ivv-vform .vform li{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
}
.ivv-vform .vform li .vform-name{
    display: flex;
    min-width: 90px;
    padding-right: 10px;
    flex-direction: row-reverse;
}
.ivv-vform .vform li .vform-module{
    position: relative;
    display: flex;
    width: 200px;
    flex-wrap: wrap;
}
.ivv-vform .vform li .vform-module .vform-module-add {
    position: absolute;
    top: 10px;
    left: 205px;
    color: #FF4949;
}
.ivv-vform .vform li .vform-module .vform-module-add:hover{ 
    cursor: pointer;
}
.ivv-vform .vform li.vform-form-opt{
    height: auto;
    align-items: stretch;
}
.vform .vform-form-opt .vform-module-opt{
    position: relative;
}
.vform .vform-form-opt .vform-module-opt .vform-module-reduce {
    position: absolute;
    top: 10px;
    left: 205px;
    color: #20a0ff;
}
.vform .vform-form-opt .vform-module-opt .vform-module-reduce:hover{
    cursor: pointer;
}
.ivv-vform .vform li.vform-form-opt .el-input{
    margin-bottom: 10px;
}
.ivv-vform .vform li .vform-opt {
    display: flex;
    min-width: 90px;
    height: 36px;
    padding-right: 10px;
    flex-direction: row-reverse;
    align-items: center;
}
.ivv-vform .vform .lastli {
    padding-right: 30px;
    margin-bottom: 20px;
    justify-content: flex-end;
}

