.wage-content {
  .add-info {
    width: 500px !important;
  }
  .import-dialog {
    width: 400px !important;
  }
  .head {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .center {
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
    .el-input {
      width: 200px;
    }
  }
  .right {
    display: flex;
  }

  .footer {
    margin-top: 20px;
    text-align: right;
  }

  .table-container {
    width: 100%;
    height: calc(100vh - 200px);
  }
}

.el-table__body {
  .el-button {
    margin-bottom: 5px;
    margin-top: 5px;
  }
}
