.wage-content {
  .add-info {
    width: 300px !important;
  }
  .head {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .center {
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
    .el-input {
      width: 200px;
    }
  }
  .right {
    display: flex;
  }
}
